body {
	font-size: 18px;
	line-height: 1.1;
	font-family: $font-medium;
	width: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

._container {
	padding-left: 16px;
	padding-right: 16px;
}


